.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: none;
  background-color: transparent;
}

.cards .cards-card-body {
  margin-top: 1em;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
}

#lorem-ipsum-episódio-2,
#lorem-ipsum-episódio-2-1,
#lorem-ipsum-episódio-2-2 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

#lorem-ipsum-episódio-2 a,
#lorem-ipsum-episódio-2-1 a,
#lorem-ipsum-episódio-2-2 a {
  font-size: 14px;
  background-color: #9D73F7;
  text-align: center;
  color: #fff;
  pointer-events: none;
  padding: 5px;
  max-height: 15px;
}

#top-10-mais-assistidos {
  font-size: 24px;
}

#blue-box {
  background-color: #9D73F7;
  color: #9D73F7;
  max-width: 75px;
  height: 10px;
  font-size: .1px;
  margin-bottom: 1rem;
}