.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.banner-index > div > div p:nth-of-type(1) img {
  width: unset;
}

.banner-index > div > div > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner-index > div > div > ul > li {
  list-style-type: none;
}
.banner-index > div > div > ul > li a{
  color: #fff;
}

.banner-index > div > div {
  display: flex;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}